extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum provident veniam accusamus reiciendis! Quibusdam aliquid similique omnis dolore cupiditate, ex culpa vitae cum dolor eaque eum quaerat cumque, maiores a?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nisi reiciendis officia eaque incidunt architecto dolore distinctio et reprehenderit, hic aut eveniet repudiandae ad accusamus dolor officiis debitis, voluptatem cumque!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum architecto consectetur veniam, aut perferendis deserunt id, facere consequuntur nostrum quas, amet dolorem quod minima asperiores vitae animi aliquid maxime est?
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                    